{% extends 'main/base.html' %}
{% load static %}
{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
           <h2> <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></h2>
        {% endfor %}
    </ul>
{% endif %}

                <!-- Begin Mobile Menu Area -->
                <div class="mobile-menu-area d-lg-none d-xl-none col-12">
                    <div class="container"> 
                        <div class="row">
                            <div class="mobile-menu">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu Area End Here -->
            </header>
            <!-- Header Area End Here -->
            <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li class="active">Shop List Left Sidebar</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- Begin Li's Content Wraper Area -->
            <div class="content-wraper pt-60 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 order-1 order-lg-2">
                            <!-- Begin Li's Banner Area -->
                            <div class="single-banner shop-page-banner">
                                <a href="#">
                                    <img src="{% static 'main/images/bg-banner/2.jpg' %}" alt="Li's Static Banner">
                                </a>
                            </div>
                            <!-- Li's Banner Area End Here -->
                            <!-- shop-top-bar start -->
                            <div class="shop-top-bar mt-30">
                                <div class="shop-bar-inner">
                                    <div class="product-view-mode">
                                        <!-- shop-item-filter-list start -->
                                        <ul class="nav shop-item-filter-list" role="tablist">
                                            <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="grid-view" href="#grid-view"><i class="fa fa-th"></i></a></li>
                                            <li class="active" role="presentation"><a aria-selected="true" class="active show" data-toggle="tab" role="tab" aria-controls="list-view" href="#list-view"><i class="fa fa-th-list"></i></a></li>
                                        </ul>
                                        <!-- shop-item-filter-list end -->
                                    </div>
                                    <div class="toolbar-amount">
                                        <span>Showing 1 to 9 of 15</span>
                                    </div>
                                </div>
                                <!-- product-select-box start -->
                                <!-- <div class="product-select-box">
                                    <div class="product-short">
                                        <p>Sort By:</p>
                                        <select class="nice-select">
                                            <option value="trending">Relevance</option>
                                            <option value="sales">Name (A - Z)</option>
                                            <option value="sales">Name (Z - A)</option>
                                            <option value="rating">Price (Low &gt; High)</option>
                                            <option value="date">Rating (Lowest)</option>
                                            <option value="price-asc">Model (A - Z)</option>
                                            <option value="price-asc">Model (Z - A)</option>
                                        </select>
                                    </div>
                                </div> -->
                                <!-- product-select-box end -->
                            </div>
                            <!-- shop-top-bar end -->
                            <!-- shop-products-wrapper start -->
                            <div class="shop-products-wrapper">
                                <div class="tab-content">

                                    <div id="list-view" class="tab-pane fade product-list-view active show" role="tabpanel">
                                        {% for i in data %}
                                        <div class="row">
                                            <div class="col">                                                
                                                <div class="row product-layout-list">
                                                    <div class="col-lg-3 col-md-5">
                                                        <div class="product-image" style="text-align: center;">
                                                            <td style="width: 150px; height: 150px; display: inline-block;">
                                                                <img height="200" src="{{ i.image.url }}" alt="Product Image" style="display: block; margin: 0 auto;">
                                                            </td>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-5 col-md-7">
                                                        <div class="product_desc">
                                                            <div class="product_desc_info">
                                                                <div class="product-review">
                                                                    <h5 class="manufacturer">
                                                                        <a href="#">{{ i.category }}</a>
                                                                    </h5>
                                                                    <div class="rating-box">
                                                                        <ul class="rating">
                                                                            <li><i class="fa fa-star-o"></i></li>
                                                                            <li><i class="fa fa-star-o"></i></li>                                
                                                                            <li><i class="fa fa-star-o"></i></li>
                                                                            <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                            <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <h4><a class="product_name" href="{% url 'single_product' i.id %}">{{ i.product_name }}</a></h4>
                                                                <div class="price-box">
                                                                    <!-- <span class="new-price">₹{{ i.offer_price }}</span> -->
                                                                    <!-- <div class="price-box pt-20"> -->
                                                                        {% if i.category.category_offer %}
                                                                        <span class="new-price new-price-2">₹ {{ i.discounted_price }}</span>
                                                                        <span class="review-item">MRP ₹ <del>{{ i.price }}</del></span><p style="color: rgb(56, 133, 8);">-{{  i.category.category_offer }}%</p>
                                                                        {% else %}
                                                                        <span class="new-price new-price-2">MRP ₹ {{ i.price }}</span>
                                                                        {% endif %}
                                
                                                                    <!-- </div> -->
                                                                </div>
                                                                <p>{{ i.description }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="shop-add-action mb-xs-30">
                                                            <ul class="add-actions-link">
                                                                <li class="add-cart"><a href="{% url 'add_to_cart' i.id %}">Add to cart</a></li>
                                                             

                                                                <li class="wishlist"><a href="{% url 'add_to_wishlist' i.id %}"><i class="fa fa-heart-o"></i>Add to wishlist</a></li>

                                                                <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i class="fa fa-eye"></i>Quick view</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>       
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>

                                    

                                    <div id="grid-view" class="tab-pane fade" role="tabpanel">
                                        
                                        <div class="product-area shop-product-area">
                                           
                                            <div class="row">
                                                {% for i in data %}
                                                    <div class="col-lg-4 col-md-4 col-sm-6 mt-40">
                                                        <div class="single-product-wrap">

                                                            <div class="product-image" style="text-align: center;">
                                                                <td style="width: 150px; height: 150px; display: inline-block;">
                                                                    <img height="180" src="{{i.image.url}}" alt="Image" style="display: block; margin: 0 auto;">
                                                                </td>
                                                                {% comment %} <span class="sticker">New</span> {% endcomment %}
                                                            </div>
                                                            <div class="product_desc">
                                                                <div class="product_desc_info">
                                                                    <div class="product-review">
                                                                        <h5 class="manufacturer">
                                                                            <a href="product-details.html">{{ i.description }} </a>
                                                                        </h5>
                                                                        <div class="rating-box">
                                                                            <ul class="rating">
                                                                                <li><i class="fa fa-star-o"></i></li>
                                                                                <li><i class="fa fa-star-o"></i></li>
                                                                                <li><i class="fa fa-star-o"></i></li>
                                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <h4><a class="product_name" href="{% url 'single_product' i.id %}">{{ i.product_name }} </a></h4>
                                                                    <div class="price-box">
                                                                        {% if i.category.category_offer %}
                                                                        <span class="new-price new-price-2">₹ {{ i.discounted_price }}</span>
                                                                        <span class="review-item">MRP ₹ <del>{{ i.price }}</del></span><p style="color: rgb(56, 133, 8);">-{{  i.category.category_offer }}%</p>
                                                                        {% else %}
                                                                        <span class="new-price new-price-2">MRP ₹ {{ i.price }}</span>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                                <div class="add-actions">
                                                                    <ul class="add-actions-link">
                                                                        <li class="add-cart active"><a href="{% url 'add_to_cart' i.id %}">Add to Cart</a></li>
                                                                        <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>
                                                                        <li><a class="links-details" href="{% url 'add_to_wishlist' i.id %}"><i class="fa fa-heart-o"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="paginatoin-area">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <p>Showing 1-12 of 13 item(s)</p>
                                            </div>
                                            <!-- Paginator code -->
                                            <div class="pagination">
                                                <span class="step-links">
                                                    {% if page_obj.has_previous %}
                                                        <a href="?page=1"> &laquo;  first</a>
                                                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                                    {% endif %}

                                                    <span class="current">
                                                        <b>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</b>
                                                    </span>

                                                    {% if page_obj.has_next %}
                                                        <a href="?page={{ page_obj.next_page_number }}">next </a>
                                                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo; </a>
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- shop-products-wrapper end -->
                        </div>
                        <div class="col-lg-3 order-2 order-lg-1">
                            <!--sidebar-categores-box start  -->
                            <div class="sidebar-categores-box mt-sm-30 mt-xs-30">
                                <div class="sidebar-title">
                                    <h2>Laptop</h2>
                                </div>
                                <!-- category-sub-menu start -->
                                <div class="category-sub-menu">
                                    <ul>
                                
                                        <li class="has-sub"><a href="#">Computer</a>
                                            <ul>
                                                <li><a href="#">TV & Video</a></li>
                                                <li><a href="#">Audio & Theater</a></li>
                                                <li><a href="#">Camera, Photo</a></li>
                                                <li><a href="#">Cell Phones</a></li>
                                                <li><a href="#">Headphones</a></li>
                                                <li><a href="#">Video Games</a></li>
                                                <li><a href="#">Wireless Speakers</a></li> 
                                            </ul>
                                        </li>
                                        <li class="has-sub"><a href="#">Electronics</a>
                                            <ul>
                                                <li><a href="#">TV</a></li>
                                                <li><a href="#">Camera</a></li>
                                                <li><a href="#">Mobile Phone</a></li>
                                                <li><a href="#">Home Appliances</a></li>    
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- category-sub-menu end -->
                            </div>
                            <!--sidebar-categores-box end  -->
                            <!--sidebar-categores-box start  -->
                            <div class="sidebar-categores-box">
                                <div class="sidebar-title">
                                    <h2>Filter By</h2>
                                </div>
                                <div class="border-bottom mb-4 pb-4">
                                    <form method="get" action="{% url 'userproduct' %}">
                                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                            <input type="radio" class="custom-control-input" id="price-all" name="sort" value="all" {% if sort_option == 'all' %}checked{% endif %}>
                                            <label class="custom-control-label" for="price-all">Low to High</label>
                                            <span class="badge border font-weight-normal">{{ total_product_count }}</span>
                                        </div>
                                    
                                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                            <input type="radio" class="custom-control-input" id="price-1" name="sort" value="high" {% if sort_option == 'high' %}checked{% endif %}>
                                            <label class="custom-control-label" for="price-1">High to Low</label>
                                            <span class="badge border font-weight-normal">{{ total_product_count }}</span>
                                        </div>
                                    
                                        <button type="submit" class="btn btn-primary">Apply</button>
                                    </form>
                                    
                                </div>
                                                                                  
                            </div>
                            <!--sidebar-categores-box end  -->
                            <!-- category-sub-menu start -->
                            <div class="sidebar-categores-box mb-sm-0">
                                <div class="sidebar-title">
                                    <h2>Laptop</h2>
                                </div>
                                <div class="category-tags">
                                    <ul>
                                        <li><a href="# ">Devita</a></li>
                                        <li><a href="# ">Cameras</a></li>
                                        <li><a href="# ">Sony</a></li>
                                        <li><a href="# ">Computer</a></li>
                                        <li><a href="# ">Big Sale</a></li>
                                        <li><a href="# ">Accessories</a></li>
                                    </ul>
                                </div>
                                <!-- category-sub-menu end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content Wraper Area End Here -->
        {% endblock content %}
           