{% extends 'partials/base.html'%}
{% load static %}
{% block content%}
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Shop <span></span> Fillter
                </div>
            </div>
        </div>
        <div class="container mb-30 mt-30">
            <div class="row">
                <div class="col-lg-12">
                    <a class="shop-filter-toogle" href="#">
                        <span class="fi-rs-filter mr-5"></span>
                        Filters
                        <i class="fi-rs-angle-small-down angle-down"></i>
                        <i class="fi-rs-angle-small-up angle-up"></i>
                    </a>
                    <div class="shop-product-fillter-header">
                        
                        <div class="row">
                            <form method="GET" action="">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-xl-3 col-lg-6 col-md-6 mb-lg-0 mb-md-2 mb-sm-2" >
                                        <div class="card">
                                            <h5 class="mb-30">By Categories</h5>
                                            <div class="categories-dropdown-wrap font-heading" >
                                                <ul>
                                                    {% for c in categories %}
                                                    <li>
                                                        <input data-filter="category" class="form-check-input filter-checkbox" type="checkbox" name="category" id="category_checkbox_{{ c.id }}" value="{{ c.id }}" />
                                                        &nbsp;&nbsp;
                                                        <a href="#"> <img src="{{c.image.url}}" alt="" />{{ c.title }}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                            
                                    <div class="col-xl-3 col-lg-6 col-md-6 mb-lg-0 mb-md-2 mb-sm-2">
                                        <div class="card">
                                            <h5 class="mb-30">By Vendors</h5>
                                            <div class="d-flex">
                                                <div class="customeee-checkbox mr-80">
                                                    {% for v in vendors %}
                                                    <input class="form-check-input filter-checkbox" data-filter="vendor" type="checkbox" name="vendor" id="vendor_checkbox_{{ v.id }}" value="{{ v.id }}" />
                                                    <label class="form-check-label" for="vendor_checkbox_{{ v.id }}"><span>{{v.title}}</span></label>
                                                    <br /><br />
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-lg-6 col-md-6 mb-lg-0 mb-md-5 mb-sm-5">
                                        <div class="card">
                                            <h5 class="mb-10">By Price</h5>
                                            <div class="sidebar-widget price_range range">
                                                <div class="price-filter mb-20">
                                                    <label for="price-range-select">Price Range:</label>
                                                    <select class="form-control" id="price-range-select" name="price_range">
                                                        <option value="" selected>All Prices</option>
                                                        <option value="0-100">0 - 100</option>
                                                        <option value="100-500">100 - 500</option>
                                                        <option value="500-5000">500 - 5000</option>
                                                        <!-- Add more options as needed -->
                                                    </select>
                                                </div>
                                                <div class="custome-checkbox">
                                                    <button class="btn mt-20 w-100" type="submit">Apply Filters</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>        
                                </div>
                                <!-- <button type="submit">Apply Filters</button> -->
                            </form>
                        </div>


                        
                    </div>
                </div>
                <div class="col-12">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p>We found <strong class="text-brand">{{product.count}}</strong> items for you!</p>
                        </div>
                        <div class="sort-by-product-area">
                            <div class="sort-by-cover mr-10">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps"></i>Show:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#">50</a></li>
                                        <li><a href="#">100</a></li>
                                        <li><a href="#">150</a></li>
                                        <li><a href="#">200</a></li>
                                        <li><a href="#">All</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sort-by-cover">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#">Featured</a></li>
                                        <li><a href="#">Price: Low to High</a></li>
                                        <li><a href="#">Price: High to Low</a></li>
                                        <li><a href="#">Release Date</a></li>
                                        <li><a href="#">Avg. Rating</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row product-grid">
                        {% for p in product%}
                        <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap" style="max-width: 130px;">
                                    <div class="product-img product-img-zoom">
                                        <a href="{% url 'core:product_detail' p.pid %}">
                                            <img class="default-img" src="{{p.image.url}}" alt="" />
                                            <img class="hover-img" src="{{p.image.ur}}" alt="" />
                                        </a>
                                    </div>
                                    <div class="product-badges product-badges-position product-badges-mrg">
                                        <span class="hot">Hot</span>
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="shop-grid-right.html">{{p.category}}</a>
                                    </div>
                                    <h2><a href="{% url 'core:product_detail' p.pid %}">{{p.title}}</a></h2>
                                    <div class="product-rate-cover">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width: 90%"></div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (4.0)</span>
                                    </div>
                                    <div>
                                        <span class="font-small text-muted">By <a href="vendor-details-1.html">{{p.vendor}}</a></span>
                                    </div>
                                    <div class="product-card-bottom">
                                        <div class="product-price">
                                            <span class="current-price current-product-price-{{ p.id }}
                                                           text-brand">{{p.price}}</span>
                                            <span class="old-price">{{p.old_price}}</span>
                                        </div>
                                        <div class="add-cart">
                                            <!-- <form action="#" method="post"> -->
                                            {%csrf_token %}

                                            <input type="hidden" value="1" name="" id="product-quantity" class="w-25 mb-20 product-quantity-{{p.id}}">
                                            <input type="hidden" name="" id="" class="product-pid-{{p.id}}" value="{{p.pid}}" >
                                            <input type="hidden" name="" id="" class="product-title-{{p.id}}" value="{{p.title}}">
                                            <input type="hidden" name="" id="" class="product-image-{{p.id}}" value="{{p.image.url}}">
                                            <input type="hidden" name="" id="" class="product-id-{{p.id}}" value="{{p.id}}">
                                            <div class="d-flex">
                                                <button class="add  b-none add-to-cart-btn" style="border: none;" data-index="{{ p.id }}"><i
                                                    class="fi-rs-shopping-cart mr-5" ></i>Add </button>                 
                                            </div>
                                            <!-- </form> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!--end product card-->
                    </div>
                    <!--product grid-->
                    <div class="pagination-area mt-20 mb-20">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="fi-rs-arrow-small-left"></i></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                <li class="page-item"><a class="page-link" href="#">6</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="fi-rs-arrow-small-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>          
                    <!--End Deals-->
                </div>
            </div>
        </div>
    </main>
{% endblock content%}