{% extends 'main/base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="text-center mb-4" style="color: grey;">Add Address</h2>
        <form action="{% url 'gauth_app:add_address' redirect_page='redirect_page' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="redirect_page" value="{{ redirect_page }}">
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="inputEmail4">Address Name</label>
              <input type="text" class="form-control" name="address_name" placeholder="First Name" required>
            </div>
            <div class="form-group col-md-4">
              <label for="network">Default</label>
              <div class="form-check">
                <input type="checkbox" 
                       id="network" 
                       name="default" 
                       value="True" 
                       class="form-check-input">
                <label class="form-check-label" for="network"></label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">First name</label>
              <input type="text" class="form-control" name="first_name" placeholder="First Name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Last name</label>
              <input type="text" class="form-control" name="last_name" placeholder="Last name" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Address line 1</label>
            <input type="text" class="form-control" name="address_1" placeholder="First Line" required>
          </div>
          <div class="form-group">
            <label for="inputAddress2">Address line 2</label>
            <input type="text" class="form-control" name="address_2" placeholder="Apartment, studio, or floor" required>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputCity">Country</label>
              <input type="text" class="form-control" name="country" placeholder="Your country" required>
            </div>
            <div class="form-group col-md-5">
              <label for="inputEmail4">State</label>
              <input type="text" class="form-control" name="state" placeholder="Your State" required>
            </div>
            <div class="form-group col-md-3">
              <label for="inputZip">City</label>
              <input type="text" class="form-control" name="city" placeholder="City" required>
            </div>
            <div class="form-group col-md-4">
              <label for="inputZip">Phone</label>
              <input type="text" class="form-control" name="phone" placeholder="Phone number" required
                     pattern="[0-9]{10}" title="Please enter a valid 10-digit phone number">
          </div>          
            <div class="form-group col-md-6">
              <label for="inputZip">Email</label>
              <input type="email" class="form-control" name="email" placeholder="Email" required>
            </div>
            <div class="form-group col-md-2"> 
              <label for="inputZip">PIN</label>
              <input type="number" class="form-control" name="pin" placeholder=" Post Code" required>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-warning">Save</button>
            <br>
            <br>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
