{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<style>
    .product-image {
        max-width: 100px; /* Set your desired max width */
        max-height: 75px; /* Set your desired max height */
        width: auto;
        height: auto;
    }
</style>

            <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Shopping Cart</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!--Shopping Cart Area Strat-->
            <div class="Shopping-cart-area pt-60 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            {% if orders %}
                            <form action="#">
                                <div class="table-content table-responsive">
                                    <table class="table  cart_data">
                                        <thead>
                                            <tr>
                                                <th class="li-product-remove">Date</th>
                                                <th class="li-product-thumbnail">images</th>
                                                <th class="cart-product-name">Product</th>
                                                <th class="cart-product-name">Variant</th>
                                                <th class="li-product-quantity">Quantity</th>
                                                <th class="li-product-subtotal">Total</th>
                                                <th class="li-product-subtotal">Status</th>
                                                <th class="li-product-subtotal">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in orders %}
                                            <tr>
                                                <td class="li-product-name"><a href="#">{{ i.date }}</a></td>
                                                <td class="li-product-thumbnail">
                                                    {% if i.product.image %}
                                                    <a href="#">
                                                        <img class="product-image" src="{{ i.product.image.url }}" alt="Li's Product Image">
                                                    </a>
                                                    {% else %}
                                                    <span>No Image Available</span>
                                                    {% endif %}
                                                </td>                                    
                                                <td class="li-product-name"><a href="#">{{ i.product.brand }} {{ i.product.model }}</a></td>
                                                <td class="li-product-name"><a href="#">{{ i.variant.ram }}GB </a></td>                                               
                                                <td class="li-product-name"><a href="#">{{ i.quantity }}</a></td>                                               
                                                <td class="li-product-name"><a href="#">{{ i.amount }}</a></td>                                               
                                                <td class="li-product-name"><a href="#">{{ i.status }}</a></td>                                               
                                                <td class="product-subtotal">
                                                    {% if i.status == 'pending' or i.status == 'processing' or i.status == 'shipped' %}                
                                                        <form method="post" action="{% url 'main_app:cancel' order_id=i.id %}">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-danger">Cancel</button>
                                                        </form>
                                                    {% else %}
                                                        <button type="submit" class="btn btn-success">Return</button>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        
                                    </table>
                                </div>
                            </form>
                        </div>
                        {% else %}
                        <br>
                        <br>
                        <h4> Your order list is empty</h4>
                        <br>
                        <br>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!--Shopping Cart Area End-->
        {% endblock content %}
  
   <!-- Add this script to your cart.html file -->

  