<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <style>
        table {
            text-align: center; /* Center aligns the content of the table */
        }
        th, td {
            text-align: center; /* Center aligns the content of table cells */
        }
        .gadgetzone {
            text-align: center; /* Center aligns the content of the gadget zone */
        }
        .end {
            text-align: right;
        }
    </style>
</head>
<body>

<div class="card">
    <div class="card-body mx-4">
      <div class="container">
        <br>
        <p class="my-5 mx-5 gadgetzone" style="font-size: 30px;">Gadgetzone</p>
        <div class="row">
            <h2 > Product Invoice <h2>
                <p> {{ order.address.first_name }} {{ order.address.last_name }} </p>
                <p> {{ order.address.address_1 }}, {{ order.address.address_2 }} </p>
                <p> PIN: {{ order.address.pin }} &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; Phone: {{ order.address.phone }} </p>
                <p> Email: {{ order.address.email }}
        <br>
        <br>
        <br>
        <br>
        <br>
          <hr>
          <div class="col-xl-10">
            <p> {{ order.product.brand.name }} {{ order.product.model }} ({{ order.product.color }}) {{ order.variant.ram }}GB + {{ order.variant.storage }}GB Internal</p>
          </div>
          <div class="col-xl-2">
            <p class="float-end">Amount: {{ order.amount }}/-
                
            </p>
          </div>
          <hr>
        </div>
        <div class="row">
          <div class="col-xl-10">
            <p> <strong> Payment Type </strong> </p>
          </div>
          <div class="col-xl-2">
            <p class="float-end">{{ order.payment_type }}
            </p>
          </div>
          <hr>
        </div>
        <div class="row">
          <div class="col-xl-10">
            <p><strong> Status </strong></p>
          </div>
          <div class="col-xl-2">
            <p class="float-end">{{ order.status }}
            </p>
          </div>
          <hr style="border: 2px solid black;">
        </div>
        <div class="row text-black">
  
          <div class="col-xl-12">
            <p class="float-end fw-bold">Delivery: 50/-
            </p>
          </div>
          <hr style="border: 2px solid black;">
        </div>

            
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Date Of purchase</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Offer</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Payment type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{ order.date }}</th>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.variant.offer }}% </td>
                    <td>{{ order.variant.price }}/-</td>
                    <td>Cod</td>
                </tr>

            </tbody>
        </table>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="text-center end" style="margin-top: 90px;">
          <p>  Hey, {{ order.address.first_name }} {{ order.address.last_name }}, Thank you for shopin with us.</p>
        </div>
  
      </div>
    </div>
  </div>

</body>
</html>
