
{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<!------ Include the above in your HEAD tag ---------->
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img" style="margin: 30px;">
                    <img src="{% static 'main/images/profile_photo/profile.png' %}" alt="Li's Product Image" style="width: 150px;">
                </div>
                <br>
                <br>
                <a href="{% url 'main_app:orders' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">orders</a>
                &nbsp;
                &nbsp;
                &nbsp;
                <a href="{% url 'main_app:cart' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">cart</a>
                

            </div>
            <br>
                <br>
            <div class="col-md-8">
                <!-- Move the user details to the right side -->
                <div class="profile-head">
                    <br>
                    <h5>{{ customer.first_name }} {{ customer.last_name }}</h5>
                    <p class="proile-rating">{{ customer.email }}</p>
                        <br>
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                            </ul>
                            <br>
                            <div class="row">
                                
                                <div class="col-md-6">
                                    
                                    <label>User Id</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ customer.id }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>First Name</label>
                                </div>
                                <div class="col-md-6">
                                        <p> {{ customer.first_name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Last Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p> {{ customer.last_name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p> {{ customer.phone }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Wallet Balance</label>
                                </div>
                                <div class="col-md-6">
                                    {% if customer.wallet.balance %}
                                    <p>₹ {{ customer.wallet.balance }}</p>
                                    {% else %}
                                    <p>₹ 0.00</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        
                       
                    </div>
                    <a href="{% url 'gauth_app:address' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Manage Address</a>
                    <a href="{% url 'gauth_app:manage_profile' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Manage Profile</a>
                    
                </div>
                
            </div>
        </div>
        
    </form>



</div>

<br>
 <br>
{% endblock content %}





