{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="page-wrapper">
  <div class="content">
      <div class="row">
          <div class="col-lg-8 offset-lg-2">
              <h4 class="page-title">Add a banner</h4>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-8 offset-lg-2">
              <form action="{% url 'dashboard_app:add_banners' %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                      <label for="title">Title</label>
                      <input class="form-control" type="text"
                             placeholder="Enter the title"
                             name="title"
                             pattern="^\S(.*\S)?$"
                             required>
                  </div>
                  <div class="form-group">
                      <label for="description">Description</label>
                      <input class="form-control" type="text"
                             placeholder="Enter the description"
                             name="description" 
                             pattern="^\S(.*\S)?$"
                             required>
                  </div>
                  <div class="form-group">
                      <label for="url">URL</label>
                      <input class="form-control" type="text"
                             placeholder="Enter the URL"
                             name="url"
                             pattern="^\S(.*\S)?$"
                             >
                  </div>
                  <div class="form-group">
                      <label for="image">Add Image</label>
                      <input class="form-control" type="file"
                             placeholder="Select image"
                             name="image"
                             accept=".jpg, .jpeg, .gif, .png, .webp"
                             required>
                      <small class="form-text text-muted">Max. file size: 10 MB. Allowed images: jpg, gif, png.</small>
                  </div>
                  <div class="row">
                      <div class="m-t-20 text-center">
                          <button class="btn btn-primary submit-btn">Save</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
{% endblock content %}
