{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title"> Add Main Categories</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form action="{% url 'dashboard_app:add_main_category' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Main category name</label>
                                <input class="form-control" type="text"
                                       placeholder="Enter the main category here"
                                       name="main_category_name"
                                       pattern="^\S(.*\S)?$"
                                       title="Main category name cannot start or end with white spaces"
                                       required>
                            </div>                             
                            <div>   
                                <div>
                                    {% for message in messages %}
                                        <li style="color: red;">{{ message }}</li>
                                    {% endfor %}
                                </div>                                
                            </div>             
                            <div class="form-group">
                                <label>Description</label>
                                <input class="form-control" type="text" 
                                placeholder="Add description"
                                name= "description"
                                pattern="^\S(.*\S)?$"
                                required>
                            </div>
                            <div class="form-group">
                                <label>Offer</label>
                                <input class="form-control" type="number" 
                                       placeholder="Offer "
                                       name="offer"
                                       min="0">
                            </div>
                            <div class="form-group">
                                <label>Add image</label>
                                <div>
                                    <input class="form-control" type="file"
                                           placeholder="Select image"
                                           name="image"
                                           accept=".jpg, .jpeg, .gif, .png, .webp"
                                           required>
                                    <small class="form-text text-muted">Max. file size: 10 MB. Allowed images: jpg, gif, png.</small>
                                </div>
                            </div>
                            <div class="row">
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
 