{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title"> Prouduct variants </h4>
                    </div>
                </div>
				<div class="container">
					<div class="row">
					  <div class="col-sm">
						<p> You can edit product variant details from here </p>
					  </div>
					  <form action="{% url 'dashboard_app:variant_search' %}" method="POST" class="dashboard_search">
						{% csrf_token %}
					  <div class="col-sm">
						<div class="input-group mb-3">
							<input type="text" name="searched" class="form-control" placeholder="Search product" value="{{ query }}">
							<div class="input-group-append">
							  <button class="btn btn-outline-secondary" type="submit">Search</button>
							</div>
						  </div>
					  </div>
					</form>
					</div>
				  </div>
				<div class="row">
					<div class="col-md-12 pr-2">
						<div class="table-responsive">
							<table class="table table-striped custom-table">
								<thead>
									<tr>
										<th class="text-center">Active</th>
										<th class="text-center">Image</th>
										<th class="text-center">Brand</th>
										<th class="text-center">Model</th>
										{% comment %} <th class="text-center">Description</th> {% endcomment %}
										<th class="text-center">Color</th>
										<th class="text-center">Storage</th>
										<th class="text-center">Ram</th>
										<th class="text-center">Price</th>
										<th class="text-center">Offer</th>
										<th class="text-center">Stock</th>
										<th class="text-center">Edit</th>
										<th class="text-center">Action</th>
									</tr>
								</thead>
								<tbody>
									{% for i in products %}
									<tr>
										<td class ="text-center">
											{% if i.deleted %}
												<span class="badge badge-pill badge-danger">Inactive</span>
											{% else %}
												<span class="badge badge-pill badge-success">Active</span>
											{% endif %}
										</td>
										<td style="width: 150px; height: 100px;">
											{% if i.product.image and i.product.image.url %}
												<img style="width: 100%; height: 100%; object-fit: contain;" src="{{ i.product.image.url }}" alt="Image">
											{% else %}
												<p>No image available</p>
											{% endif %}
										</td>	
										<td class ="text-center" >{{i.product.brand}}</td>
										<td class ="text-center">{{i.product.model}}</td>
										{% comment %} <td>{{i.description}}</td> {% endcomment %}
										<td class ="text-center" class ="text-center">{{i.product.color}}</td>
										<td class ="text-center">{{i.storage}}</td>
										<td class ="text-center">{{ i.ram }} GB</td>																	
										<td class ="text-center">{{ i.price }}</td>
										<td class ="text-center">{{ i.offer }}</td>
										<td class ="text-center">{{ i.stock }}</td>
										<td class ="text-center">
											<a type="button" href="{% url 'dashboard_app:update_variant' id=i.id %}" class="btn btn-success">Edit</a>
										</td>	
										<td class ="text-center">
											<a href="{% url 'dashboard_app:soft_delete_product' id=i.id %}">
													{% if i.deleted %}
													<button type="submit" name="toggle_deleted" class="btn btn-success">  &nbsp; List &nbsp;  </button>
													{% else %}
													<button type="submit" name="toggle_deleted" class="btn btn-danger">  Unlist </button>
													{% endif %}
											</a>
										</td>	
									</tr>
									{% endfor%} 
								</tbody>
							</table>
						</div>
					</div>
                </div>
            </div>

			{% comment %} Pagination area {% endcomment %}

				<!-- Pagination area -->
				<div class="pagination-area"  style="padding: 0 30px;">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<p>Showing {{ products.start_index }}-{{ products.end_index }} of {{ products.paginator.count }} items</p>
						</div>
						<div class="col-lg-6 col-md-6">
							<ul class="pagination justify-content-end">
								<li class="page-item {% if not products.has_previous %} disabled {% endif %}">
									<a class="page-link" href="{% if products.has_previous %}?page={{ products.previous_page_number }}{% endif %}">Previous</a>
								</li>
								<li class="page-item active">
									<span class="page-link">Page {{ products.number }} of {{ products.paginator.num_pages }}</span>
								</li>
								<li class="page-item {% if not products.has_next %} disabled {% endif %}">
									<a class="page-link" href="{% if products.has_next %}?page={{ products.next_page_number }}{% endif %}">Next</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

{% endblock content %}                  

