{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">All Products and its variants are listed here. </h4>
                    </div>
                </div>
				<p> You can edit product variant details from here </p>
				<br>
				<div class="row">
					<div class="col-md-12 pr-2">
						<div class="table-responsive">
							<table class="table table-striped custom-table">
								<thead>
									<tr>
										<th class="text-center">Active</th>
										<th class="text-center">Image</th>
										<th class="text-center">Brand</th>
										<th class="text-center">Model</th>
										{% comment %} <th class="text-center">Description</th> {% endcomment %}
										<th class="text-center">Color</th>
										<th class="text-center">Storage</th>
										<th class="text-center">Ram</th>
										<th class="text-center">Price</th>
										<th class="text-center">Offer</th>
										<th class="text-center">Stock</th>
										<th class="text-center">Edit</th>
									</tr>
								</thead>
								
								<tbody>
									{% for i in products %}
									{% for variant in i.productvariant_set.all %}
									<tr>
										<td class ="text-center">
											{% if i.deleted %}
												<span class="badge badge-pill badge-danger">Inactive</span>
											{% else %}
												<span class="badge badge-pill badge-success">Active</span>
											{% endif %}
										</td>
										<td style="width: 150px; height: 100px;">
											{% if i.image and i.image.url %}
												<img style="width: 100%; height: 100%; object-fit: contain;" src="{{ i.image.url }}" alt="Image">
											{% else %}
												<p>No image available</p>
											{% endif %}
										</td>	
										<td class ="text-center" >{{i.brand}}</td>
										<td class ="text-center">{{i.model}}</td>
										{% comment %} <td>{{i.description}}</td> {% endcomment %}
										<td class ="text-center" class ="text-center">{{i.color}}</td>
										<td class ="text-center">{{variant.storage}}</td>
										<td class ="text-center">{{ variant.ram }} GB</td>																	
										<td class ="text-center">{{ variant.price }}</td>
										<td class ="text-center">{{ variant.offer }}</td>
										<td class ="text-center">{{ variant.stock }}</td>
										<td class ="text-center">
											<a type="button" href="{% url 'dashboard_app:update_variant' id=variant.id %}" class="btn btn-success">Edit</a>
										</td>	
									</tr>
									{% endfor%} 
									{% endfor%} 
								</tbody>
							</table>
						</div>
					</div>
                </div>
            </div>
{% endblock content %}                  

