{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- appointments23:19-->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="dashboard/img/favicon.ico"
    />
    <title>Gadget Zone Admin</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'dashboard/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'dashboard/css/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'dashboard/css/select2.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'dashboard/css/style.css' %}"
    />
  </head>
  <body>
    <div class="main-wrapper account-wrapper">
        <div class="account-page">
            <div class="account-center">
                <div class="account-box">
                    <form method="post" action="{% url 'dashboard_app:dashboard_login' %}" class="form-signin">
                        {% csrf_token %}
                        <div class="account-logo">
                            <a href="index-2.html">
                                <img src="{% static 'main/images/menu/logo/1.png' %}" alt="" />
                            </a>
                        </div>
                        <div class="form-group">
                            <label>Username or Email</label>
                            <input type="text" autofocus="" class="form-control" name="username">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary account-btn">Login</button>
                        </div>
                    </form>
                    
                    <!-- Display error messages -->
                    {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Your existing script tags... -->
</body>
</html>
