{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Category</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-left m-b-20 ml-3">
                        <a href="{% url 'dashboard_app:add_main_category' %}" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Category</a>
                    </div>
                </div>
				<div class="row">
					<div class="col-md-8 pr-2">
						<div class="table-responsive">
							<table class="table table-striped custom-table">
								<thead>
									<tr>
										<th class="text-center">Active</th>
										<th>Main_Category</th>
										<th>Image</th>
										<th>Description</th>
										<th>Edit</th>
                                        <th>Delete</th>
									</tr>
								</thead>
								<tbody>
									{% for i in data %}
									<tr>
										<td>
											{% if i.deleted %}
												<span class="badge badge-pill badge-danger">Inactive</span>
											{% else %}
												<span class="badge badge-pill badge-success">Active</span>
											{% endif %}
										</td>
										<td>{{i.name}}</td>
										<td><img width="90" height="50" src="{{i.img.url}}" alt="Li's Product Image"></td>
										<td>{{i.descriptions}}</td>
										<td><a type="button" href="{% url 'dashboard_app:update_main_category' id=i.id %}" class="btn btn-success">Edit</a></td>
										<td><a type="button" href="{% url 'dashboard_app:delete_main_category' id=i.id %}" class="btn btn-danger">Remove</a></td>
									</tr>	
									{% endfor%} 
								</tbody>
							</table>
						</div>
					</div>
                </div>
            </div>
{% endblock content %}                  