{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Edit a Brand</h4>
                        <br>
                        <br>
                        <br>


                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form action="{% url 'dashboard_app:update_brand' data.id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>brand name</label>
                                <input class="form-control" type="text"
                                placeholder="Enter brand name"
                                name= "name"
                                pattern="^\S(.*\S)?$"
                                value="{{data.name}}"
                                required>
                            </div>  
                            <div>   
                                <div>
                                    {% for message in messages %}
                                        <li style="color: red;">{{ message }}</li>
                                    {% endfor %}
                                </div>                                
                            </div>             
                            <div class="form-group">
                                <label>Description</label>
                                <input class="form-control" type="text" 
                                placeholder="Add description"
                                name= "description"
                                pattern="^\S(.*\S)?$"
                                value="{{ data.description }}"
                                required>
                            </div>
                            <div class="form-group">
                                <label>Current Image</label>
                                <br>
                                <br>
                                {% if data.image %}
                                    <img src="{{ data.image.url }}" alt="Current Image" style="max-width: 200px;">
                                {% else %}
                                    <p>No image available</p>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label>Add image</label>
                                <div>
                                    <input class="form-control" type="file"
                                           placeholder="Select image"
                                           name="image"
                                           accept=".jpg, .jpeg, .gif, .png, .webp"
                                           >
                                    <small class="form-text text-muted">Max. file size: 10 MB. Allowed images: jpg, gif, png.</small>
                                </div>
                            </div>
                            <div class="row">
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
 