{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Edit Categories</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form action="{% url 'dashboard_app:update_main_category' data.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>category name</label>
                        <input class="form-control" type="text"
                        placeholder="Enter the main category here"
                        name= "main_category_name"
                        value="{{data.name}}"
                        required>
                    </div>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}
                                {% if message.tags == 'error' %} style="color: red;" {% endif %}>
                                    {{ message }}
                                </li>
                        {% endfor %}
                    </ul>
                    {% endif %}   
                    <div class="form-group">
                        <label>Description</label>
                        <input class="form-control" type="text" 
                        placeholder="Add description"
                        name= "description"
                        value="{{ data.descriptions }}"
                        required>
                    </div>
                    <div class="form-group">
                        <label>Current Image</label>
                        <br>
                        <br>
                        {% if data.img %}
                            <img src="{{ data.img.url }}" alt="Current Image" style="max-width: 200px;">
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>Add image</label>
                        <div>
                            <input class="form-control" type="file"
                                   placeholder="Select image"
                                   name="image"
                                   accept=".jpg, .jpeg, .gif, .png, .webp"
                                   >
                            <small class="form-text text-muted">Max. file size: 10 MB. Allowed images: jpg, gif, png.</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="m-t-20 text-center">
                            <button class="btn btn-primary submit-btn">Update</button>
                            <a href="{% url 'dashboard_app:main_category' %}" class="btn btn-primary submit-btn"> Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
